body{
    background-color: white;
}
p{
    color: black;
}
.info{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-transform: capitalize;
    color: black;
}
h2{
    text-transform: capitalize;
    color: black;
}
.heading-1{
    font-size: 30px;
    font-weight: 550;
    color: black;  
}
.page-1-ul{
    border-bottom: 1px solid black;
    color: black;
}
.image-2{
   margin: 15px; 
}
.image-div1{
    height: 200px;
    width: 550px;
    float: right;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    text-align: left; 
}
.color-red{
    color: red;
    text-decoration: underline;
    font-weight: 200;
}
.page-1-ul-2{
   list-style-image: url("images/bullets\ 2.jpg");
   height: 50px;
}
