body{
    background-image: url("images/bg.webp");
    background-size:1366px 1308px;;
    background-repeat: no-repeat;
}
p{
    color: orange;
}
.info{
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
    text-transform: capitalize;
    color: orange;
}
h2{
    text-transform: capitalize;
    color: orange;
}
.heading-1{
    font-size: 30px;
    font-weight: 550;
    color: orange;  
}
.page-1-ul{
    border-bottom: 1px solid orange;
    color: orange;
}
.image-2{
   margin: 15px; 
}
.image-div1{
    height: 200px;
    width: 550px;
    float: right;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    text-align: left; 
}
.color-red{
    color: red;
    text-decoration: underline;
    font-weight: 200;
}
.page-1-ul-2{
   list-style-image: url("images/4.png");
   height: 50px;
   font-size: 20px;
   
   
}
