body{
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Times New Roman', Times, serif;
}
.heading{
    height: 79px;
    width: 1312px;
}
h1{
    color: orange;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;  
}
 .heading-1{
    column-count: 2;
    font-size: 30px;
    font-weight: 550;
    color: orange;    
}
.heading-2{
    padding-top: 10px;
    margin-bottom: 0;
    margin-left: 214px;
    color: orange; 
}
.heading-3{
   color: orange;
    margin-top:8px; ;
    padding-left: 125px;
    margin-bottom: 5px;
}
.heading-0{
    font-size: 30px;
    font-weight: 550;
    color: orange; 
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 25px;
}
.page-1-4{
    color: orange;
    font-size: 20px;
    font-weight: 800;
    line-height: 35px;
    border-bottom: 1px dotted orange; 
     
}
.image-2{
   margin: 15px; 
}
.image-div1{
    text-align: right;
}
.image-1{
    height: 297px;
    width: 492px;
    float: right;
   margin-right: -6px;
} 
.color-red{
    color: red;
    text-decoration: underline;
    font-weight: 400;
}
.page-1-ul-2{
  list-style:armenian;
   height: 30px;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   font-weight: 600;
   color: orange; 
}
.marging{
    margin-top: -29px;
    margin-bottom: 0;
    line-height: 35px;
    text-transform: capitalize;
}
.button{
float: right;
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 160px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
font-weight: 600;
font-family: 'Times New Roman', Times, serif;
margin-right: 8px;
cursor: pointer;
 }   
 .grid{
    display: grid;
    grid-gap: 1opx 100px;
    grid-template-columns: auto auto ;
    padding: 0;
    margin: 0;
    margin-left: 60px;
 }                                      /*  page 1 css completed */

 .para{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-decoration: underline 2px double;
    margin: 10px;
    text-align: center;
    color: #f3f703;
 }
 .list1{
    display: grid;
    grid-gap:12px 50px;
    grid-template-columns: auto auto;
    padding-bottom: 20px;
    font-size: 20px;

 }
 .list2{
    display: grid;
    grid-gap:12px 0;
    grid-template-columns: auto auto;
    padding-bottom: 20px;
    font-size: 20px;
    margin-bottom: 0;

 }
 .list3{
    display: grid;
    grid-gap: 12px 25px;
    grid-template-columns: auto auto;
    padding-bottom: 2px;
    font-size: 20px;  
 }
 .html-heading{
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    border-bottom: 2px solid orange;
 }
 .list4{
    display: grid;
    grid-gap: 12px 25px;
    grid-template-columns: auto auto auto;
    padding-bottom: 20px;
    font-size: 20px; 
    border-bottom: 2px solid orange;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
 }
 .color-span{
    color: red;
    font-weight: 900;
    font-size: 22px;
 }
 .html{
   padding-left: 6px;
 }
 .body{
   padding-left: 30px;
 }
 .p-tage{
   padding-left: 70px;
 }
 .code-input{
   font-size: 20px;
   font-weight: 500;
   font-family: comic
 }
 .flex-container p{
   padding: 0 50px;
   word-spacing: 925px;
   font-size: 30px;
   margin-top: 0;
   text-transform: uppercase;
 }
 .blue{
   color: rgb(243, 143, 129);
 }
 .aqua{
   color: aqua;
 }
 .red{
   color: rgb(100, 155, 206);
 }
 /* page 2 comleted */
 .html-head{
   font-size: 30px;
   font-weight: 900;
   font-family: 'Times New Roman', Times, serif;
   color: yellow;
   text-transform: uppercase;
   margin: 10px 25px;
   height: 40px;
   text-decoration:underline 2px solid yellow;

 }
 .heading-list{
   display: grid;
   grid-template-columns: auto auto ;
   grid-gap: 12px 89px;
   color: #d9ff9b;
  
 }
 .formating-list{
   display: grid;
   grid-template-columns: auto auto auto auto ;
   grid-gap: 10px 25px;
   color: #d9ff9b;   
 }
 .head{
   font-size: 33px;
   font-weight: 900;
  
   text-transform: uppercase;
   margin: 0 20px;
   
 }
 .btn1{
  margin-left: 462px;
 }
 
.button1{
  padding: 10px 10px;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border: none;
  cursor: pointer;
 
}
.button1:hover{
  padding: 10px 10px;
  background: linear-gradient(to bottom, #cefc04 0%, #fd9904 100%);
  border: none;
  cursor: pointer;
  border: 2px solid black;
 
}
